.message{
    overflow-y: scroll;

    .msgItem{
        display: flex;
        align-items: start;
        justify-content: start;
        
        padding: 10px;
        .role{
            padding-left: 16px;
            padding-top: 24px;
        }

        .msg {
            flex: 1;
            padding-left: 16px;
            padding-top: 16px;

            .msg-content p {
                font-size: @font-size-base;
                margin: .6rem 0 .4rem;
            }

            pre{
                word-break: break-word;
                overflow-wrap: break-word;
                white-space: pre-wrap;
            }
        
            .code-header{
                display: flex;
                line-height: 24px;
                .code-lang{
                    flex: 1;
                }
                .copy-action{
                    background-color: rgba(144,202,249,.16);
                    cursor: pointer;
                    padding: 0 4px;
        
                    &:hover{
                        background-color: rgba(144,202,249,.26);
                    }
                }
            }
        
            .code-block{
                box-sizing: border-box;
                margin: 0;
                max-width: 100%;
                overflow: auto;
                padding: 15px;
            }
        }

        .other {
            flex-basis: 50px;
        }
    }
}
