.message{
    overflow-y: scroll;

    pre{
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .code-header{
        display: flex;
    }

    .code-block{
        box-sizing: border-box;
        margin: 0;
        max-width: 100%;
        overflow: auto;
        padding: 10px;
    }
}
