.Corrugation-root {
  & > *:not(:last-child) {
    position: relative;
    z-index: 1;
  }
}

.iconBase {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;

  cursor: pointer;
}

.webkitScrollbarBase {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
}
