.setUpModal{
    .modal_body{
        overflow: hidden;
        .title {
            margin-right: 15px;
        }

        .formItem{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}